/* set Default settings here */

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 3rem;
}
.mainContent {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.footerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 3rem;
  transform: scaleX(-1);
}
